#jogo{
    width: 603px;
    height:600px;
    border:solid 1px
}
 
.linha{

    height:200px;
    border-bottom:solid 1px;
}
 
.casa{
    
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
}

.play{
    margin-top: 30px;
    border: solid red 1px;
    width: 60px;
    border-radius: 20px;
}

